* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f5f7fa;
    color: #333;
}

header {
    background: #1e293b;
    color: white;
    padding: 20px;
}

nav {
    max-width: 1000px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;

    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

#skills ul {
    padding-left: 20px;
}
